@keyframes cadereMicDinSus {
  0% {
    opacity: 0;
    transform: translateY(-300px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translateY(30px) scale(1.05);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.animation-0 {
  animation: bounceInFromTop 1s ease-out forwards;
}

@keyframes bounceInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-1 {
  animation: bounceInFromBottom 1s ease-out forwards;
}

@keyframes bounceInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-2 {
  animation: bounceInFromLeft 1s ease-out forwards;
}

@keyframes bounceInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-3 {
  animation: bounceInFromRight 1s ease-out forwards;
}

@keyframes bounceInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-4 {
  animation: bounceInFromTop 1s ease-out forwards;
}

@keyframes bounceInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-5 {
  animation: bounceInFromBottom 1s ease-out forwards;
}

@keyframes bounceInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-6 {
  animation: bounceInFromLeft 1s ease-out forwards;
}

@keyframes bounceInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-7 {
  animation: bounceInFromRight 1s ease-out forwards;
}

@keyframes bounceInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-8 {
  animation: bounceInFromTop 1s ease-out forwards;
}

@keyframes bounceInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-9 {
  animation: bounceInFromBottom 1s ease-out forwards;
}

@keyframes bounceInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-10 {
  animation: bounceInFromLeft 1s ease-out forwards;
}

@keyframes bounceInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-11 {
  animation: bounceInFromRight 1s ease-out forwards;
}

@keyframes bounceInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-12 {
  animation: bounceInFromTop 1s ease-out forwards;
}

@keyframes bounceInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-13 {
  animation: bounceInFromBottom 1s ease-out forwards;
}

@keyframes bounceInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-14 {
  animation: bounceInFromLeft 1s ease-out forwards;
}

@keyframes bounceInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-15 {
  animation: bounceInFromRight 1s ease-out forwards;
}

@keyframes bounceInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-16 {
  animation: bounceInFromTop 1s ease-out forwards;
}

@keyframes bounceInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-17 {
  animation: bounceInFromBottom 1s ease-out forwards;
}

@keyframes bounceInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-18 {
  animation: bounceInFromLeft 1s ease-out forwards;
}

@keyframes bounceInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-19 {
  animation: bounceInFromRight 1s ease-out forwards;
}

@keyframes bounceInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-20 {
  animation: bounceInFromTop 1s ease-out forwards;
}

@keyframes bounceInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-21 {
  animation: bounceInFromBottom 1s ease-out forwards;
}

@keyframes bounceInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-22 {
  animation: bounceInFromLeft 1s ease-out forwards;
}

@keyframes bounceInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-23 {
  animation: bounceInFromRight 1s ease-out forwards;
}

@keyframes bounceInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-24 {
  animation: bounceInFromTop 1s ease-out forwards;
}

@keyframes bounceInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-25 {
  animation: bounceInFromBottom 1s ease-out forwards;
}

@keyframes bounceInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-26 {
  animation: bounceInFromLeft 1s ease-out forwards;
}

@keyframes bounceInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-27 {
  animation: bounceInFromRight 1s ease-out forwards;
}

@keyframes bounceInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-28 {
  animation: bounceInFromTop 1s ease-out forwards;
}

@keyframes bounceInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-29 {
  animation: bounceInFromBottom 1s ease-out forwards;
}

@keyframes bounceInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-30 {
  animation: bounceInFromLeft 1s ease-out forwards;
}

@keyframes bounceInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-31 {
  animation: bounceInFromRight 1s ease-out forwards;
}

@keyframes bounceInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-32 {
  animation: bounceInFromTop 1s ease-out forwards;
}

@keyframes bounceInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-33 {
  animation: bounceInFromBottom 1s ease-out forwards;
}

@keyframes bounceInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-34 {
  animation: bounceInFromLeft 1s ease-out forwards;
}

@keyframes bounceInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-35 {
  animation: bounceInFromRight 1s ease-out forwards;
}

@keyframes bounceInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-36 {
  animation: bounceInFromTop 1s ease-out forwards;
}

@keyframes bounceInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-37 {
  animation: bounceInFromBottom 1s ease-out forwards;
}

@keyframes bounceInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-38 {
  animation: bounceInFromLeft 1s ease-out forwards;
}

@keyframes bounceInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-39 {
  animation: bounceInFromRight 1s ease-out forwards;
}

@keyframes bounceInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-40 {
  animation: bounceInFromTop 1s ease-out forwards;
}

@keyframes bounceInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-41 {
  animation: bounceInFromBottom 1s ease-out forwards;
}

@keyframes bounceInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-42 {
  animation: bounceInFromLeft 1s ease-out forwards;
}

@keyframes bounceInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-43 {
  animation: bounceInFromRight 1s ease-out forwards;
}

@keyframes bounceInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-44 {
  animation: bounceInFromTop 1s ease-out forwards;
}

@keyframes bounceInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-45 {
  animation: bounceInFromBottom 1s ease-out forwards;
}

@keyframes bounceInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-46 {
  animation: bounceInFromLeft 1s ease-out forwards;
}

@keyframes bounceInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-47 {
  animation: bounceInFromRight 1s ease-out forwards;
}

@keyframes bounceInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-48 {
  animation: bounceInFromTop 1s ease-out forwards;
}

@keyframes bounceInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-49 {
  animation: bounceInFromBottom 1s ease-out forwards;
}

@keyframes bounceInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-50 {
  animation: bounceInFromLeft 1s ease-out forwards;
}

@keyframes bounceInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-51 {
  animation: bounceInFromRight 1s ease-out forwards;
}

@keyframes bounceInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-52 {
  animation: bounceInFromTop 1s ease-out forwards;
}

@keyframes bounceInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-53 {
  animation: bounceInFromBottom 1s ease-out forwards;
}

@keyframes bounceInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-54 {
  animation: bounceInFromLeft 1s ease-out forwards;
}

@keyframes bounceInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-55 {
  animation: bounceInFromRight 1s ease-out forwards;
}

@keyframes bounceInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-56 {
  animation: bounceInFromTop 1s ease-out forwards;
}

@keyframes bounceInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-57 {
  animation: bounceInFromBottom 1s ease-out forwards;
}

@keyframes bounceInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-58 {
  animation: bounceInFromLeft 1s ease-out forwards;
}

@keyframes bounceInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-59 {
  animation: bounceInFromRight 1s ease-out forwards;
}

@keyframes bounceInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-60 {
  animation: bounceInFromTop 1s ease-out forwards;
}

@keyframes bounceInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-61 {
  animation: bounceInFromBottom 1s ease-out forwards;
}

@keyframes bounceInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-62 {
  animation: bounceInFromLeft 1s ease-out forwards;
}

@keyframes bounceInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-63 {
  animation: bounceInFromRight 1s ease-out forwards;
}

@keyframes bounceInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-64 {
  animation: bounceInFromTop 1s ease-out forwards;
}

@keyframes bounceInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-65 {
  animation: bounceInFromBottom 1s ease-out forwards;
}

@keyframes bounceInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-66 {
  animation: bounceInFromLeft 1s ease-out forwards;
}

@keyframes bounceInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animation-67 {
  animation: bounceInFromRight 1s ease-out forwards;
}

@keyframes bounceInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1.05);
  }
  80% {
    transform: translate(0, 0) scale(0.98);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
